@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    
    html {
        @apply bg-gray-700;
        font-family: 'Roboto', sans-serif;
    }

    body {
        @apply leading-[normal] m-0;
    }
    
    *,
    ::before,
    ::after {
    border-width: 0;
    }

    h1, h2 {
        font-family: 'Urbanist', sans-serif;
        @apply font-semibold  text-yellow-200;
    }

    h1 {
        @apply uppercase text-6xl
    }

    h2 {
        @apply text-5xl
    }

    p, .Logo {
        @apply text-white text-xl;
    }

    button {
        font-family: 'Urbanist', sans-serif;
        @apply font-semibold text-2xl py-2 px-4 border border-white rounded-lg bg-sky-700;
    }

    .Landing-Section {
        @apply pb-60
    }

    .Tag {
        @apply text-black text-base font-semibold bg-yellow-200 rounded-full px-2 mr-1 mb-1
    }

    .Tag button {
        @apply text-black p-0 ml-2 text-sm
    }

    input {
        @apply outline-none border-white
    }

    .Title-Input {
        @apply mb-4 p-2 bg-transparent border-b border-current placeholder-white text-white w-full text-2xl;
        font-family: 'Urbanist', sans-serif;
    }

    select {
        @apply text-xl;
        font-family: 'Urbanist', sans-serif;
    }

    ul {
        list-style-type: none;
    }

    li {
        @apply my-10
    }

    a {
        @apply text-white text-xl no-underline ;
    }
}