@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: morsan;
    src: url(../public/Morsan-4BDo4.ttf);
}

@layer base {
    
    html {
        @apply bg-[#2F2F2F];
        font-family: 'Roboto', sans-serif;
    }

    .Logo {
        font-family: 'morsan', sans-serif;
    }

    body {
        @apply leading-[normal] m-0;
    }
    
    *,
    ::before,
    ::after {
    border-width: 0;
    }

    h1, h2 {
        font-family: 'Urbanist', sans-serif;
        @apply font-semibold  text-yellow-200;
    }

    h1 {
        @apply uppercase text-7xl
    }

    h2 {
        @apply text-6xl
    }

    p, .Logo {
        @apply text-white text-xl;
    }

    button {
        font-family: 'Urbanist', sans-serif;
        @apply font-semibold text-2xl py-2 px-4 border border-white rounded-lg bg-sky-700 cursor-pointer transition hover:scale-105;
    }

    .Landing-Section {
        @apply h-screen
    }

    .Tag {
        @apply text-black text-base font-semibold bg-yellow-200 rounded-full px-2 mr-1 mb-1
    }

    .Tag button {
        @apply text-black p-0 ml-2 text-sm
    }

    input {
        @apply outline-none border-white
    }

    select {
        @apply text-xl;
        font-family: 'Urbanist', sans-serif;
    }

    ul {
        list-style-type: none;
    }

    li {
        @apply my-10
    }

    a {
        @apply text-white text-xl no-underline ;
    }
}